<%= link_to 'Add Another Item', new_grocery_path %>

<p>
  <strong>Item:</strong>
  <%= @item.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<%= link_to 'Show All Items', groceries_path %>
