/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  text-align: center;
  padding-bottom: 0.5em;
}

.item-field,
.quantity-field {
  margin-right: 0.5em;
}

/* Grocery Table */

.table-responsive {
  align: center;
  font-size: 1.5em;
}

/* mixins, variables, etc. */

$gray-medium-light: #EAEAEA;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sign-in/sign-out */

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 0.1em solid #BBB;
  width: 100%;
  margin-bottom: 1em;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0em 0em 1.875em 0em;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* debugger */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 10em;
  @include box_sizing;
}
