<footer class="footer footer-dark bg-dark">
  <nav>
    <ul>
      <li>Flem's Grocery App Extraordinaire &copy; 2018 All Rights Reserved.</li>
      <ul class="social-icons">
        <li><a href="https://twitter.com/TeeFlem"><i class="ion-social-twitter"></i></a></li>
        <li><a href="https://github.com/tflem"><i class="ion-social-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/tim-fleming-software-developer-30a83b24/"><i class="ion-social-linkedin"></i></a></li>
      </ul>
      <li>Built with <i class="ion-heart"></i> by Tim Fleming</li>

    </ul>
  </nav>
</footer>
