<footer class='footer footer-dark bg-dark'>
    <div class='col-md-12'>
      <div class='row justify-content-center'>
         <p>Developed with <i class='fas fa-heart'></i> by Tim Fleming</p>
      </div>

      <div class='row justify-content-center'>
         <ul class='social-icons'>
           <li><a href='https://twitter.com/TeeFlem'><i class='fab fa-twitter'></i></a></li>
           <li><a href='https://www.linkedin.com/in/tim-fleming-software-developer-30a83b24/'><i class='fab fa-linkedin'></i></a></li>
           <li><a href='https://github.com/tflem'><i class='fab fa-github'></i></a></li>
         </ul>
       </div>

      <div class='row justify-content-center'>
         <p>Casa Flem's Grocery App &copy; 2021</p>
      </div>
    </div>
</footer>
